body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    padding: 0 125px;    
    background-color: #0a0a0a;
    color: #ffa500;
    font-size: 24px;
    line-height: 27px;
    display: flex;
    justify-content: center;
}

@media (max-width: 1000px) {
    body {
        max-width: 100%;
        padding: 0;
        width: 95vw;
        font-size: 2vw;
        line-height: 3vw;
    }
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 1000px) {
    .container {
        gap: 2vw;
    }
}
button,
input {
    width: 97%;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background-color: inherit;
    color: inherit;
    cursor: pointer;
    border: none;
    border-radius: inherit;
}

button {
    width: 100%;
    transition:  background-color .3s ease, color .3s ease, opacity .3s ease;
}

button:hover {
    opacity: .7;
    background-color: #ffa500;
    color: #0a0a0a;
}

.universal-wrapper {
    width: 700px;
    display: flex;
    justify-content: center;
    border: solid .2vw;
    border-radius: 3vw;
}

@media (max-width: 1000px) {
    .universal-wrapper {
        width: 70vw;
    }
}

input {
    outline: none;
    caret-color: #ffa500;
}

input::placeholder {
    color: #ffa500;
}

.film-list {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
}

@media (max-width: 1000px) {
    .film-list {
        gap: 2vw;
    }
}

.film-item {
    display: flex;
    justify-content: space-between;
    border-bottom: .2vw solid #ffa500;
}

.film-item__check,
.film-item__name,
.film-item__delete {
    width: max-content;
}