/* #0B0C10 - ближе к черному цвет боди
   #1F2833 - темносерый цвет фона текста
   #C5C6C7 - светлосерый цвет подзаголовков
   #66FCF1 - бирюзовый цвет текста
   #45A29E - тёмнобирюзовый цвет ховер*/
@import "styles/burger.css";
@import "styles/navi.css";
@import "styles/heading.css";
@import "styles/contacts.css";
@import "styles/buttons.css";
@import "styles/1header.css";
@import "styles/2projects.css";
@import "styles/3skills.css";
@import "styles/4services.css";
@import "styles/5feedback.css";
@import "styles/6footer.css";

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    background-color: #0B0C10;
}

.body-fixed {
    overflow: hidden;
}

section {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
    padding-left: 125px;
    padding-right: 125px;
}

.margin-top-section {
    margin-top: 150px;
}

button {
    font-family: inherit;
}

@media (max-width: 1199px) {
    section {
        width: 100%;
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .margin-top-section:last-child {
        margin-top: 110px;
    }
}

@media (max-width: 767px) {
    section {
        padding-left: 13px;
        padding-right: 12px;
    }

    .margin-top-section {
        margin-top: 100px;
    }
}