header {
    width: 100%;
    height: 100vh;
    min-height: 560px;
    background-image: url('../resources/background-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% 50%;
}

.header {
    display: flex;
    align-items: center; 
    gap: 20vw;
    height: 100%;
}

.header__left {
    display: block;
    min-height: 360px;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    gap: 15px;
}

.header__social-links-title {
    position: relative;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
}

.header__social-links-title::after {
    margin-right: 7px;
    margin-top: 15px;
    content: '';
    background: #121212;
    width: 2px;
    height: 70px;
    float: right;
}

.header__social-links {
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
}

.header__right {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.header__subtitle {
    z-index: 1;
}

.header__title {
    min-width: 530px;
}

.header__nav {
    display: flex;
    gap: 44px;
}

.header__link {
    padding: 12px 25px;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
    color: #121212;
    background-color: #FFA501;
    transition: background-color 0.3s ease;
}

.header__link:hover {
    background-color: transparent;
}

@media (max-width: 1199px) {
    header {
        width: 100%;
        height: 100vh;
        min-height: 360px;
    }
    
    .header {
        gap: 15vw;
        height: 100%;
    }
    
    .header__left {
        min-height: 360px;
        padding-left: 30px;
        gap: 15px;
    }
    
    .header__social-links-title::after {
        margin-right: 7px;
        margin-top: 15px;
        width: 2px;
        height: 40px;
    }
    
    .header__social-links {
        gap: 15px;
    }
    
    .header__right {
        gap: 25px;
    }
      
    .header__title {
        min-width: 390px;        
    }
    
    .header__nav {
        gap: 30px;
    }
    
    .header__link {
        padding: 6px 12px;
        font-size: 12px;
        line-height: 18px;
    }
}

@media (max-width: 767px) {
    header {
        min-width: 100%;
        height: 100vh;
        min-height: 100%;
    }
    
    .header {
        gap: 0;
    }
    
    .header__left {
        display: none;
    }
    
    .header__right {
        padding: 30px;
        gap: 20px;
    }
        
    .header__title {
        min-width: 100%;
    }
    
    .header__nav {
        display: flex;
        gap: 30px;
    }
    
    .header__link {
        padding: 6px 12px;
        font-size: 12px;
        line-height: 18px;
    }
}