@import "styles/1header.css";
@import "styles/2about-me.css";
@import "styles/3expirience.css";
@import "styles/4skills.css";
@import "styles/5used-skills.css";
@import "styles/6work.css";
@import "styles/7price-list.css";
@import "styles/8footer.css";

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.body-fixed {
    overflow: hidden;
}

section {
    margin: 0 auto;
    max-width: 1400px;
    min-width: 1024px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

.margin-top-section {
    margin-top: 120px;
}

h1 {
    font-size: 48px;
    line-height: 60px;
}

h2 {
    font-size: 36px;
    line-height: 60px;
}

h3 {
    font-size: 16px;
    line-height: 24px;
}

h4 {
    font-size: 14px;
    line-height: 21px;
}

.orange-border-bottom {
    margin-bottom: 85px;
    position: relative;    
}

.orange-border-bottom::after{
    position: absolute;
    top: 75px;
    content: '';
    background-color: #FFA501;
    width: 60px;
    height: 3px;
}

.orange-circle-start {
    position: relative;
}

.orange-circle-start::before {
    position: absolute;
    top: -6px;
    left: -6px;
    z-index: -1;
    content: '';
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 19px;
    background-color: #FFA501;
}

.orange-circle-midlle{
    position: relative;
}

.orange-circle-midlle::before {
    position: absolute;
    top: -6px;
    left: calc(50% - 19px);
    z-index: -1;
    content: '';
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 19px;
    background-color: #FFA501;
}

p {
    font-size: 12px;
    line-height: 19px;
}

@media (max-width: 1199px) {
    section {
        max-width: 100%;
        min-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .margin-top-section {
        margin-top: 40px;
    }

    .padding-section {
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .orange-border-bottom{
        margin-bottom: 55px;
    }

    h1 {
        font-size: 36px;
        line-height: 48px;
    }

    h2 {
        font-size: 30px;
        line-height: 45px;
    }

    h3 {
        font-size: 14px;
        line-height: 21px;
    }
    
    .orange-circle-start::before {
        top: -4px;
        left: -4px;
        z-index: -1;
        width: 30px;
        height: 30px;
        border-radius: 15px;
    }

}

@media (max-width: 767px) {
    section {
        width: 100%;
    }

    h1 {
        font-size: 26px;
        line-height: 39px;
    }

    h2 {
        font-size: 22px;
        line-height: 30px;
    }

    h3 {
        font-size: 12px;
        line-height: 21px;
    }

    .orange-border-bottom::before {
        top: 51px;
    }
}