@import "styles/1header.css";
@import "styles/2about-me.css";

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.body-fixed {
    overflow: hidden;
}

section {
    margin: 0 auto;
    max-width: 1400px;
    min-width: 1024px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

.margin-top-section {
    margin-top: 120px;
}

h1 {
    font-size: 48px;
    line-height: 60px;
}

h2 {
    font-size: 36px;
    line-height: 60px;
}

h3 {
    font-size: 16px;
    line-height: 24px;
}

@media (max-width: 1199px) {
    section {
        max-width: 100%;
        min-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .margin-top-section {
        margin-top: 40px;
    }

    .padding-section {
        padding-left: 50px;
        padding-right: 50px;
    }
    

    h1 {
        font-size: 36px;
        line-height: 48px;
    }

    h2 {
        font-size: 30px;
        line-height: 45px;
    }

    h3 {
        font-size: 14px;
        line-height: 21px;
    }

}

@media (max-width: 767px) {
    section {
        width: 100%;
    }

    h1 {
        font-size: 26px;
        line-height: 39px;
    }

    h2 {
        font-size: 22px;
        line-height: 30px;
    }

    h3 {
        font-size: 12px;
        line-height: 21px;
    }

}