body {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    line-height: 39px;
}

@media (max-width: 767px) {
    body {
    font-size: 18px;
    line-height: 23px;        
    }
}

ol {
    list-style: decimal;
    padding-left: 40px;
}

button {
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: 400px;
    cursor: pointer;
    border: none;
    border-radius: 100px;
    color: #fff;
    background-color: #0094FF;
    transition: opacity 0.3s ease;    
}

@media (max-width: 767px) {
    button {
        padding: 20px 0;
    }
}

button:hover {
    opacity: 0.7;
}

input {
    width: 95%;
    padding-left: 10px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: 400px;
    border-radius: 100px;
    border: none;
    border-bottom: 2px solid black;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
    outline: none;
}

.expenses-app {
    margin: 0 auto;
    padding: 0 50px;
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media (max-width: 767px) {
    .expenses-app {
        max-width: 90vw;
        padding: 0;
        gap: 10px;
    }
}

.expenses-app__input-wrapper {
    width: 100%;
}

.expenses-app__title {
    font-weight: 700;
}

.status_good {
    color: green;
}

.status_bad {
    color: red;
}