@import url(style/popup.css);
@import url(style/buttons.css);

body {
    width: 90vw;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    background-color: #808080;
    font-size: 4vw;
    line-height: 7vw;
}

h1,
.label { 
    font-weight: 700;
}

input,
button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background-color: inherit;
    cursor: pointer;
}

input {
    width: 100%;
    border: none;
    outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

ol {
    list-style-type: decimal;
    list-style-position: inside;
}

.rub::after {
    content: ' руб.';
}

.expenses {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 2vw;
    row-gap: 3vw;
}

.expensesInput {
    width: 58%;
}

.moneyInput{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
}

.stats,
.stats__limit,
.stats__total,
.stats__status {
    display: flex;
}

.stats {
    width: 58%;
    flex-direction: column;
    gap: 1vw;
}

.history {
    width: 38%;
}

.stats__statusText_positive {
    color: green;
}

.stats__statusText_negative {
    color: #ff9900;
}