::-webkit-scrollbar {
    width: 0;
}

.body-fixed {
    overflow: hidden;
}

.popup {
    margin: 0 auto;
    padding-top: 1vw;
    padding-bottom: 1vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s linear, visibility 0.4s linear;
}

.popup-open {
    opacity: 1;
    visibility: visible;
}

.popup__content {
    color: #000;
    background-color: #fff;
    position: relative;
    max-width: 90vw;
    height: 90vw;
    max-height: 100%;
    padding: 2vw;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.closePopupButton {
    position: absolute;
    top: 3vw;
    left: 3vw;
    font-size: 3vw;
    line-height: 3vw;
}

.popup__aboutFilmWrapper {
    display: flex;  
    gap: 1vw;
    font-size: 1.5vw; 
}

.popup__image {
    width: 20vw;
    object-fit: contain;
}

.popup__title {
    font-weight: 700;
    font-size: 2vw;
} 

.popup__descriptionWrapper p {
    color: #0094FF;
    ;
}

 