@import "popup.css";

body {
    font-family: 'Inter', sans-serif;
}

@media (max-width: 1199px) {
    body {
        font-size: 1.5vw;
    }
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    min-width: 1400px;
    width: 100%;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 1199px) {
    .container {
        max-width: auto;
        min-width: auto;
        padding: auto;
    }
}

.findFilmForm {
    display: flex;
    gap: 24px;
    font-size: 32px;
    line-height: 38px;
}

@media (max-width: 1199px) {
    .findFilmForm {
        flex-direction: column;
        font-size: 3vw;
        line-height: 4vw;
    }
}

.disabled {
    display: none;
}

input,
button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: none;
    cursor: pointer;
}

.inputWrapper {
    border: 1px solid #111111;
}

.filmInput {
    padding: 5px 5px;
    resize: none;
    overflow: hidden;
    outline: none;
}

.appButton {
    padding: 5px 70px;
    color: #fff;
    background-color: #0094FF;
    transition: opacity 0.3s ease;
}

@media (max-width: 1199px) {
    .appButton {
        width: 100%;
        padding: 2vw 25vw;

    }
}

.appButton:hover {
    opacity: 0.7;
}

.appButton:disabled {
    opacity: 0.3;
}

.pagesInfoWrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.pagesNavigationWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

@media (max-width: 1199px) {
    .pagesNavigationWrapper {
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
}



.filmList {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width: 1199px) {
    .filmList {
        gap: 2vw;
    }
}


.filmItem {
    position: relative;
    width: calc(50% - 10px);
    height: 215px;
    padding: 30px 10px 30px 30px;
    border-radius: 35px;
    cursor: pointer;
    transition: background-color .4s ease;
}

@media (max-width: 1199px) {
    .filmItem {
        width: 100%;
        height: 22vw;
    }
}

.filmItem:hover {
    background-color: #D9D9D9;
}

.filmItem__image {
    position: absolute;
    top: 35px;
    left: 30px;
    width: 100px;
    pointer-events: none;
}

@media (max-width: 1199px) {
    .filmItem__image {
        top: 2vw;
        left: 20px;
        width: 12vw;
    }
}

.filmItem__title {
    position: absolute;
    top: 30px;
    left: 200px;
    font-size: 30px;
    font-weight: 700;
    pointer-events: none;
}

@media (max-width: 1199px) {
    .filmItem__title {
        top: 2vw;
        left: 20vw;
        font-size: 2vw;
    }
}

.filmItem__year {
    position: absolute;
    top: 105px;
    left: 200px;
    font-size: 25px;
    color: #0094FF;
    pointer-events: none;
}

@media (max-width: 1199px) {
    .filmItem__year {
        top: 10vw;
        left: 20vw;
        font-size: 1.5vw;
    }
}

.filmItem__type {
    position: absolute;
    top: 145px;
    left: 200px;
    font-size: 30px;
    pointer-events: none;
}

@media (max-width: 1199px) {
    .filmItem__type {
        top: 14vw;
        left: 20vw;
        font-size: 1.5vw;
    }
}