@import "popup.css";

body {
    font-family: 'Inter', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    min-width: 1400px;
    width: 100%;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.findFilmForm {
    display: flex;
    gap: 24px;
    font-size: 32px;
    line-height: 38px;
}

.disabled {
    display: none;
}

input,
button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: none;
    cursor: pointer;
}

.inputWrapper { 
border: 1px solid #111111;
}

.filmInput {
    padding: 5px 5px;
    resize: none;
    overflow: hidden;
    outline: none;
}

.appButton {
    padding: 5px 70px;
    color: #fff;
    background-color: #0094FF;
    transition: opacity 0.3s ease;
}

.appButton:hover {
    opacity: 0.7;
}

.appButton:disabled {
    opacity: 0.3;
}

.pagesInfoWrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.pagesNavigationWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.filmList {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.filmItem {
    position: relative;
    width: calc(50% - 10px);
    height: 215px;
    padding: 30px 10px 30px 30px;
    border-radius: 35px;
    cursor: pointer;
    transition: background-color .4s ease;
}

.filmItem:hover {
    background-color: #D9D9D9;
}

.filmItem__image {
    position: absolute;
    top: 35px;
    left: 30px;
    width: 100px; 
    pointer-events: none;  
}

.filmItem__title {
    position: absolute;
    top: 30px;
    left: 200px;
    font-size: 30px;
    font-weight: 700;
    pointer-events: none;
}

.filmItem__year {
    position: absolute;
    top: 105px;
    left: 200px;
    font-size: 25px;
    color: #0094FF;
    pointer-events: none;
}

.filmItem__type {
    position: absolute;
    top: 145px;
    left: 200px;
    font-size: 30px;
    pointer-events: none;
}