body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: 0 auto;
    width: 1400px;
    padding: 50px 150px 90px 150px;
    display: flex;
    justify-content: space-between;
}

.left_column,
.right_column {
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.title {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
}

.subtitle {
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
}

.inputWrapper {
    border: 1px solid #111111;
    border-radius: 15px;
    padding: 12px 20px 12px 20px;
}

.memInput {
    width: 100%;
    font-family: inherit;
    font-size: 25px;
    line-height: 30px;
    border: none;
    outline: none;
    overflow: hidden;
    appearance: none;
}

.forArrowWrapper {
    position: relative;
}

.forArrowWrapper::after {
    content: url(resources/arrow.svg);
    pointer-events: none;
    position: absolute;
    top: 25%;
    left: 90%;
}

.memPreviewWrapper {
    position: relative;
}

.memImageWrapper {
    width: 100%;
}

.memUpperText {
    position: absolute;
    top: 8%;
    width: 100%;
    display: flex;
    padding: 0 20px;
    font-weight: 700;
    font-size: 25px;
    white-space: normal;
}

.memBottomText {
    position: absolute;
    bottom: 8%;
    width: 100%;
    display: flex;
    padding: 0 20px;
    font-weight: 700;
    font-size: 25px;
    white-space: normal;
}

.memImg {
    width: 100%;    
}

.position_left {
    justify-content: start;
}

.position_center {
    justify-content: center;
}

.position_right {
    justify-content: end;
}

.text_color_black {
    color: #111111;
}

.text_color_white {
    color: #fff;
}

.text_color_green {
    color: green;
}

.text_color_red {
    color: red;
}

.text_color_blue {
    color: blue;
}

